/* ====== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



/* ===== VARIABLE CSS ====== */
:root {
    --header-height:3rem;

    /* ==== Colors ===== */
    --hue-color: 340;

    /* HSL Color Mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%); 
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 5%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;

    /* ====== Font ====== */
    --body-font:'Poppins', sans-serif;


    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*==================== ABOUT ====================*/

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    max-width: 100%;
}

figcaption {
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
    overflow-wrap: break-word;
}

.about__img{
    width: 200px;
    border-radius: .5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name{
    font-size: var(--smaller-font-size);
}

.about__info-title, .about__info-name{
    display: block;
    text-align: center;
}

.about__buttons{
    display:flex;
    justify-content: center;
}

.pics{
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

@media screen and (min-width:768px) {
    .container{
        max-width: 100%;
    }

    .about__img{
        width:350px;
    }

    .about__description{
        text-align:initial;
    }
    .about__info{
        justify-content: space-between;
    }
    .about__description{
        font-size: 1.75rem;
    }

    .pics{
        background-color: green;
    }

    figcaption{
        font-size: 1.25rem;
        color: white;
    }

    figure{
        border: dotted white;
    }

    figure:nth-child(6){
        width: auto;
        grid-column: 1/ span 2;
    }

}

@media (min-width: 1024px){
    .about__description{
        font-size: 2.0rem;
    }
    .pics{
        border-style: dotted;
        background-color: purple;
        grid-template-columns: auto auto auto auto;
    }

    figcaption{
        font-size: 1.5rem;
        color: white;
    }

    figure{
        border: double white;
    }

    figure:nth-child(2){
        width: auto;
        grid-column: 1/ -1;
    }
}
